.ListItemBox {
  max-width: 250px;
  min-width: 250px;
  margin-right: 20px;

  &:last-child { min-width: 280px; max-width: 280px; }
  .panel-container { 
    overflow: auto; 
    max-height: 414px; // Fallback
    max-height: calc(100vh - 264px - #{$scroller-height});
    border-bottom: 1px solid #dbdbdb;

    .panel-block.has-description { display: block }
    .panel-block:last-child { border-bottom: 0px }
  }
}