.Breadcrumb {
  position: absolute;
  z-index: 1;
  
  overflow: hidden;
  height: 20px;
  width: calc(100vw - 60px);
  margin: 10px 30px 0 30px;
  // padding: 0 10px 10px 10px;

  @media screen and (max-width: 400px) {
  	width: calc(100vw - 40px);
  	margin: 10px 20px 0 20px;	
  }

  & .breadcrumb {
	background-image: 
	    /* Shadows */ 
	    linear-gradient(to right, white, white),
	    linear-gradient(to right, white, white),
		/* Shadow covers */ 
	    linear-gradient(to right, rgba(0,0,0,.25), rgba(255,255,255,0)),
	    linear-gradient(to left, rgba(0,0,0,.25), rgba(255,255,255,0));   

  	background-position: left center, right center, left center, right center;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 20px 100%, 20px 100%, 20px 100%, 20px 100%;
	
	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;

  	overflow: auto;
  }
  & .breadcrumb ol, & .breadcrumb ul {
  	flex-wrap: nowrap;
  	font-size: .86em;
  }
}