.Navbar {
  .navbar {
    border-bottom: 2px solid;
    &.is-info { border-color: #3694d2; }
    &.is-link { border-color: #266cdd; }
  }
  .navbar-item.is-logo {
    position: absolute;
    left: 50%;
    margin-left: -63px; // 50% in my case
    height: 100%;

    img {
      max-height: 2rem;
    }
  }
  .navbar-item > .button {
    border-color: transparent !important;
  }
  .navbar-item object {
    height: 100%;
    width: 100%;
  }
}