.SearchPanel {
  &.is-closed { display: none; }
  position: absolute;
  z-index: 30;
  top: 0;
  left: 0;
  width: 370px;
  height: 100vh;
  background: #fff;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

  nav {
    .navbar-start > .navbar-item {
      margin: 0.5rem 0.75rem;
    }
    & input {
      background: transparent;
      border:none;
      outline: none;
      color: #fff;
      font-size: 1em;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #fff;
      }
    }
  }
  .search-results {
    height: 100%;
    height: calc(100% - 54px);
    overflow-y: auto;
    .card {
      margin: 15px;
      & > .card-content {
        padding: .75rem;
      }
    }
  }
}
