.SearchPanel {
  &.is-closed { display: none; }

  position: absolute;
  z-index: 30;
  top: 0;
  left: 0;
  width: 370px;
  height: 100vh;
  background: #fff;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

  @media screen and (max-width: 400px) {
    width: 100%;
  }

  nav {
    .navbar-menu {
      width: 100%;
      display: flex;
      background: transparent;
      padding: 0;

      .navbar-start {
        margin-right: 0;
        flex-grow: 1;

        .navbar-item {
          background: transparent;
          width: 95%;
          padding: 0px;
          margin: 0.5rem 0.75rem;
        }
      }
    }
    & input {
      background: #fff;
      border:none;
      outline: none;
      // color: #000;
      font-size: 1em;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        // color: #000;
      }
    }
  }
  .search-results {
    height: 100%;
    height: calc(100% - 54px);
    overflow-y: auto;
    .card {
      margin: 15px;
      & > .card-content {
        padding: .75rem;
      }
    }
  }
}
